<script lang="ts" setup>
import { useProductStore } from "@/stores/product";

const productStore = useProductStore();
</script>
<template>
  <v-dialog v-model="productStore.deleteDialog" persistent width="auto">
    <v-card>
      <v-card-text>
        <span class="text-h5"
          >Do you want delete {{ productStore.editedProduct.name }}</span
        >
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="productStore.deleteDialog = false"
        >
          Cancel
        </v-btn>
        <v-btn
          color="error"
          variant="text"
          @click="productStore.deleteProduct()"
        >
          Delete
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
