<script setup lang="ts">
import { useLoadingStore } from "@/stores/loading";

const loadingStore = useLoadingStore();
</script>
<template>
  <v-dialog v-model="loadingStore.isLoading" persistent width="auto">
    <v-card>
      <v-card-text>
        <div class="text-center">
          Please Wait..
          <v-progress-circular
            :size="50"
            color="primary"
            indeterminate
          ></v-progress-circular>
        </div>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
