<script lang="ts" setup>
import { useUserStore } from "@/stores/user";

const userStore = useUserStore();
</script>
<template>
  <v-dialog v-model="userStore.deleteDialog" persistent width="auto">
    <v-card>
      <v-card-text>
        <span class="text-h5"
          >Do you want delete {{ userStore.editedUser.username }}</span
        >
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="userStore.deleteDialog = false"
        >
          Cancel
        </v-btn>
        <v-btn color="error" variant="text" @click="userStore.deleteUser()">
          Delete
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
