<script lang="ts" setup>
import { useUserStore } from "@/stores/user";
import { onMounted } from "vue";
import DeleteDialog from "../users/DeleteDialog.vue";
import UserDialog from "./UserDialog.vue";

const userStore = useUserStore();

onMounted(async () => {
  await userStore.getUser();
});
</script>
<template>
  <DeleteDialog></DeleteDialog>
  <UserDialog></UserDialog>
  <v-btn @click="userStore.dialog = true">Add New</v-btn>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in userStore.user" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.username }}</td>
        <td>{{ item.password }}</td>
        <td>
          <v-btn class="mr-5" @click="userStore.editUser(item)">Edit</v-btn>
          <v-btn @click="userStore.showDeleteDialog(item)">Delete</v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
